/* app global css */
body.body--light .q-toolbar {
  color: DodgerBlue;
}
body.body--light .q-toggle {
  color: black;
}

body.body--dark .q-toolbar {
  color: CornflowerBlue;
}

body.body--light .suggestions-list {
  background-color: rgba(255, 255, 255, 0.95);
}

body.body--dark .suggestions-list {
  background-color: rgba(20, 20, 20, 0.95);
}

body.body--light .tv-icon {
  filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%)
    contrast(100%);
}

body.body--dark .tv-icon {
  filter: invert(0%) sepia(0%) saturate(50%) hue-rotate(0deg) brightness(115%)
    contrast(100%);
}

body.body--light hit {
  font-weight: bold;
  color: Salmon;
}

body.body--dark hit {
  font-weight: bold;
  color: LightCoral;
}
